OPENAI_API_KEY=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

WEAVIATE_URL=https://ooiaxlnpqeo2nptw8y3fgg.c0.us-west3.gcp.weaviate.cloud

WEAVIATE_API_KEY=Tm0juJcXKRjlgjVEjecqiYIXk34rkzHE621W
